.catalog__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 6rem;
  width: 100%;
  min-height: 100vh;
}

.imoveis__card,
.imoveis {
  width: 100%;
}

.loading__message {
  font-size: 1rem;
  font-weight: 400;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imoveis {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 2rem;
  position: relative;
}

.catalog__main h1 {
  text-shadow: 0 0 1.3px #000;
  font-weight: 400;
  font-size: 2.5rem;
}

.catalog__input__busca {
  max-width: 25rem;
  width: 100%;
}

.catalog__fallback {
  margin-top: 5rem;
}

.catalog__search__form {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* RESPONSIVE */
@media (min-width: 0px) {
  /* .filter-main {
    flex-direction: column;
    & select {
    width: 100%;
  }
  } */

  .imoveis {
    justify-content: center;
    gap: 4rem;
    margin-top: 3rem;
  }

  .imoveis__card {
    width: 1rem;
  }

  .catalog__main {
    padding: 5rem 4rem;
    & h1 {
      margin-bottom: 1rem;
    }
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  /* .filter-main {
    flex-direction: row;
    justify-content: space-evenly;

    & select {
    min-width: 20rem;
}
  } */

  .catalog__main {
    padding: 4rem 5rem;
    & h1 {
      margin-bottom: 2rem;
    }
  }

  .imoveis {
    justify-content: start;
    gap: 3rem;
    margin-top: 2rem;
  }
}

@media (min-width: 992px) {
  .imovel__card {
    width: 13rem;
  }
}

/* RESPONSIVE */
