.register__page {
  padding: 0 10rem;
  padding-top: 3rem;
  background-image: linear-gradient(to bottom, #000, transparent);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;

  & h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
}

button {
  cursor: pointer;
}

.register__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px #38383844;
  border-radius: 15px;
  padding: 1rem 2rem;
  width: 100%;
  text-align: center;
}

.register__form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form__container-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
textarea,
select {
  padding: 0.3rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid #686868;
}

textarea {
  resize: none;
  overflow: auto;
}

select,
button {
  cursor: pointer;
}

/* UPLOAD PHOTOS */

.form__container-2 {
  display: flex;
  justify-content: end;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;

  & * {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }
}

.input__images {
  max-width: 480px;
  width: 100%;
  cursor: pointer;
  & * {
    cursor: pointer;
  }
}

.preview__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow: auto;
  max-height: 80px;
  max-width: 480px;
}

.preview__item {
  position: relative;
  display: inline-block;
}

.preview__item img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.remove__btn {
  position: absolute;
  top: 2px;
  right: 2px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: "center";
  justify-content: center;
}

.price__input__check {
  cursor: pointer;
}

.price__input {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  & input:nth-last-child(1) {
    width: 100%;
  }
}

.cad__btn {
  cursor: pointer;
  background-color: rgb(0, 99, 247);

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  border-radius: 5px;
  border: transparent;
  color: #fff;
  height: 1.8rem;

  & :hover {
    opacity: 0.9;
  }
}

input,
select,
textarea {
  border-radius: 8px;
  border: 1px solid #acacac;
}

/* RESPONSIVE */

@media (min-width: 0px) {
  .register__page {
    padding: 0;
    padding-top: 4rem;
    padding-bottom: 2rem;
    background-image: none;
  }

  .register__main {
    box-shadow: none;
  }

  .register__form {
    flex-direction: column;
    position: relative;
  }

  .cad__btn {
    position: absolute;
    bottom: 0;
  }

  .form__container-2 {
    margin-bottom: 3rem;
  }

  .preview__container {
    margin-top: 2rem;
    min-height: 4rem;
    position: relative;
    flex-wrap: nowrap;
  }

  .preview__item {
    & img {
      width: 4.5rem;
      height: 4rem;
    }
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .register__page {
    padding: 0 10rem;
    padding-top: 3rem;
    padding-bottom: 0;
    background-image: linear-gradient(to bottom, #000, transparent);
  }

  .register__form {
    flex-direction: row;
    position: static;
    gap: 5rem;
  }

  .cad__btn {
    position: static;
    bottom: auto;
  }

  .form__container-2 {
    margin-bottom: 0;
  }

  .preview__container {
    margin-top: 0;
    min-height: auto;
    position: static;
    flex-wrap: wrap;
  }

  .preview__item img {
    width: 120px;
    height: 120px;
  }

  .register__main {
    box-shadow: 0 0 10px #38383844;
  }
}

/* RESPONSIVE */
